@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Tektur:wght@400..900&display=swap');

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 15px;
  background-color: #f4f4f4;
  transition: background-color 0.8s ease; /* 游녣 transici칩n suave */
}

/* Estilo para el t칤tulo */
h1 {
color: #333;
font-family: tektur, sans-serif;
font-size: 46px;
}
h2 {
  font-family: orbitron, sans-serif;
}
h4{
  font-family: monospace, sans-serif;
}
/* Estilo para el p치rrafo */
p {
color: #666;
font-size: 18px;
font-family: monospace, sans-serif;
}
/* Estilo para el bot칩n */
button {
padding: 10px 20px;
font-size: 16px;
border: none;
background-color: #333;
/* color: white; */
color: #ddd;

border-radius: 5px;
cursor: pointer;
font-family: orbitron, sans-serif;
}
button:hover {
background-color: #6d6c6c;
}


.header {
  position: relative;
  text-align: center; /* centra los t칤tulos */
}

.titles {
  display: inline-block; /* bloque centrado */
}
 

#reloj {
      padding: 20px 40px;
      border: 3px solid #64a5ef;
      background-color:#666;
      border-radius: 20px;
      box-shadow: 0 0 20px #64a5ef;
      position: absolute;
      right: 0;
      top: 90%;
      transform: translateY(-50%); /* lo centra verticalmente */
      font-size: 20px;
      font-weight: bold;
      white-space: pre-line;
    }

#reloj .hora {
  font-size: 60px;       /* m치s grande solo los n칰meros */
  font-weight: bold;     /* opcional, para resaltarlos */
  color: #64a5ef;        /* puedes darle otro color */
}

#reloj .text_hora {
  font-family: tektur, sans-serif;
  color: #ddd;
}

    /* Transiciones para el cambio de integrantes */
#memebers {
  transition: opacity 0.5s ease;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

/* Ordenar los botones horizontalmente */
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-size: 18px;
  padding: 15px;
}

/* Estilos para las tarjetas de integrantes */

.card {
  position: relative;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 20px;
  padding: 20px;
  margin: 20px auto;
  width: 500px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.8);
  transition: opacity 0.08s ease-in-out; /* transici칩n suave */
  opacity: 1;
}

/* Estado saliendo */
.card.fade-out {
  opacity: 0;
}

/* Estado entrando */
.card.fade-in {
  opacity: 1;
}

.card-img img {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* Foto circular */
  object-fit: cover;
  border: 3px solid #ddd;
}

.card-content {
  margin-left: 20px;
  flex: 1;
}

.card-content h3 {
  margin: 0;
  font-size: 20px;
  border-bottom: 3px solid #333;
  display: inline-block;
  padding-bottom: 5px;
  font-family: orbitron, sans-serif;
}

.card-content p {
  margin: 10px 0 0;
  line-height: 1.4;
}

.card-dots {
  position: absolute;
  top: 10px;
  right: 15px;
}

.card-dots span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  background: #333333;
  border-radius: 50%;
}

#sp1 {
  background: #00CA4E;
}
#sp2 {
  background: #FFBD44;
}
#sp3 {
  background: #FF605C;
}


